@model VirtualCar.Producto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dd>
            <img src="~/Content/images/@Html.DisplayFor(model => model.Foto)" style=" width:200px;height:200px;">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Publicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publicacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Edicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edicion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editorial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        

    </dl>
</div>
<p>
    @if (User.Identity.Name == "isragoo.prez@gmail.com")
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    }
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
